<div class="container mt-5">
  <div class="p-1 border-radius-2">
    <div class="card-body bg-prime border-radius-2 py-5">
<!--      <p class="d-flex justify-content-end text-white-50"><small>{{ content }}</small></p>-->
      <h4 class="text-white-50">Willkommen auf</h4>
      <h1 class="text-white">{{ title }}</h1>
      <p class="lead text-white-50">{{ description }}</p>
    </div>
  </div>
</div>

<section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card border-radius-2">
          <div class="card-body border-radius-2">
            <div class="d-flex justify-content-between border-0">
              <p class="nav-link m-1"><strong class="">Neu hier?</strong> Erstelle ein Konto für unzählige extra Funktionen.</p>
              <a href="/register" class="nav-link font-weight-bold m-1 text-purple"
                 routerLink="register">Registrieren</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card border-radius-2 p-1 h-100">
          <div class="card-body border-radius-2">
            <h5 class="card-title font-weight-bold">Über mich</h5>
            <p class="card-text text-muted">Hier gibts einiges zu lesen über mich.</p>
          </div>
            <div class="card-footer">
              <a href="/about-me" routerLink="/about-me" class="btn btn-prime float-right">Zu Über mich</a>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-radius-2 p-1 h-100">
          <div class="card-body border-radius-2">
            <h5 class="card-title font-weight-bold">Artikel</h5>
            <p class="card-text text-muted">Hier gehts zu interessanten Artikel von Technologien die ich nutze.</p>
          </div>
            <div class="card-footer">
              <a href="/articles" routerLink="/articles" class="btn btn-prime float-right">Zu den Artikeln</a>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-radius-2 p-1 h-100">
          <div class="card-body border-radius-2">
            <h5 class="card-title font-weight-bold">Projekte</h5>
            <p class="card-text text-muted">Hier werden eine Auswahl von meinen Projekten vorgestellt.</p>
          </div>
            <div class="card-footer">
              <a href="/projects" routerLink="/projects" class="btn btn-prime float-right">Zu den Projekten</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-github-banner></app-github-banner>
