<div class="container py-5">
  <!--<section>
    <div class="container gm-light p-4 text-center mt-4">
      <h4 class="h4 font-weight-bold">Willkommen in meinem digitalem Garten</h4>
    </div>
  </section>-->

  <!-- Header Section -->
  <header class="">
    <h2 class="h2 font-weight-bold text-left">Über Mich</h2>
    <p class="h5 text-muted pb-3">Hier gibts allerlei über mich, Bastian Fischer, zu erfahren.</p>
    <div class="mt-5">
      <div class="card border-radius-2">
        <div class="d-flex justify-content-start p-4">
          <div class="rounded-circle shadow-lg bg-light mr-4">
            <img
              src="assets/img/me.png"
              alt="Mein Bild"
              class="img-fluid rounded-circle h-100px"
            />
          </div>
          <div class="d-flex flex-column justify-content-start ml-4">
            <h1 class="h1 font-weight-bold">Bastian Fischer</h1>
            <h5 class="h5">
              Softwareentwickler, Open-Source-Enthusiast und Autor
            </h5>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- About Me Section -->
  <section class="py-5">
    <div class="">
      <div class="row">
        <div class="col-12">
          <div class="card border-radius-2 p-4 text-muted">
            <p class="text-muted">
              Mein Name ist Bastian Fischer, und ich bin ein Code-Künstler, der
              die Welt des Codes als seine Leinwand betrachtet. Als erfahrener
              Softwareentwickler habe ich mich auf Java und Spring Boot
              spezialisiert, um elegante und effiziente Lösungen für eine
              Vielzahl von Herausforderungen zu entwickeln.
            </p>
            <p class="text-muted">
              Mit über 20 Jahren Erfahrung in der Webentwicklung habe ich meine
              erste Website im Alter von 12 Jahren mit HTML, CSS (und
              JavaScript) erstellt. Seitdem habe ich mich kontinuierlich
              weiterentwickelt und bin ein ewiger Lernender, der immer auf der
              Suche nach neuen Wegen ist, die Welt der Technologie zu gestalten.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Expertise Section -->
  <section class="py-5">
    <h2 class="h2 font-weight-bold text-left pb-3">Meine Expertise</h2>
    <div class="">
      <div class="row">
        <div class="col-lg-4">
          <div class="card text-left my-2 h-200px">
            <div class="card-body">
              <h5 class="card-title font-weight-bold h5">Code-Künstler</h5>
              <p class="card-text text-muted">
                Die Welt des Codes ist meine Leinwand, auf der ich mit
                Algorithmen und Technologien jongliere, um elegante Lösungen zu
                schaffen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-left my-2 h-200px">
            <div class="card-body">
              <h5 class="card-title font-weight-bold h5">Java Experte</h5>
              <p class="card-text text-muted">
                Meine Expertise liegt in der Java-Entwicklung, wo ich innovative
                Lösungen für komplexe Herausforderungen entwickle.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-left my-2 h-200px">
            <div class="card-body">
              <h5 class="card-title font-weight-bold h5">Open Source</h5>
              <p class="card-text text-muted">
                Als Open-Source-Enthusiast trage ich zur Gemeinschaft bei und
                glaube an die Macht des offenen Codes.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-left my-2 h-200px">
            <div class="card-body">
              <h5 class="card-title font-weight-bold h5">JavaScript Experte</h5>
              <p class="card-text text-muted">
                Ich beherrsche JavaScript und habe umfangreiche Erfahrung in der
                Entwicklung interaktiver Webanwendungen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-left my-2 h-200px">
            <div class="card-body">
              <h5 class="card-title font-weight-bold h5">UI/UX Design</h5>
              <p class="card-text text-muted">
                Neben der Entwicklung verstehe ich die Prinzipien des
                UI/UX-Designs, um benutzerfreundliche Anwendungen zu gestalten.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-left my-2 h-200px">
            <div class="card-body">
              <h5 class="card-title font-weight-bold h5">
                20+ Jahre Erfahrung
              </h5>
              <p class="card-text text-muted">
                Mit über 20 Jahren in der Softwareentwicklung verfüge ich über
                tiefes Wissen und umfangreiche Erfahrung.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Family Section -->
  <section class="py-5">
    <h2 class="h2 font-weight-bold text-left pb-3">Meine Familie</h2>
    <div class="">
      <div class="card p-4 border-radius-2 text-left">
        <p class="text-muted">
          Neben meiner Leidenschaft für Technologie bin ich auch ein stolzer und
          fürsorglicher Vater. Ich habe das Glück, eine wunderbare Frau und
          einen erstaunlichen Sohn zu haben, die mein Leben mit Liebe und Freude
          erfüllen.
          <br /><br />
          Ich bin ein Familienmensch und genieße es, Zeit mit meinen Lieben zu
          verbringen. Meine Familie ist meine Quelle der Inspiration und
          Motivation, und ich bin dankbar für ihre Unterstützung und Ermutigung.
          <br /><br />
          Unsere Zeit zusammen ist für mich genauso wichtig wie meine
          beruflichen Bestrebungen. Gemeinsam schaffen wir unvergessliche
          Momente und gestalten eine glückliche Zukunft.
        </p>
      </div>
    </div>
  </section>

  <!-- Fitness Section -->
  <section class="py-5">
    <h2 class="h2 font-weight-bold text-left pb-3">Fitness und Sport</h2>
    <div class="">
      <div class="card p-4 border-radius-2 text-left text-muted">
        <p class="text-muted">
          Neben meiner beruflichen Leidenschaft habe ich eine Vorliebe für einen
          aktiven Lebensstil. Kraftsport ist für mich nicht nur körperliche
          Ertüchtigung, sondern auch eine Quelle von Energie und mentaler
          Stärke. Im Fitnessstudio finde ich die Balance zwischen Körper und
          Geist und arbeite an meiner physischen Fitness.
        </p>
        <p class="text-muted">
          In meiner Freizeit, wann immer es die Zeit erlaubt, genieße ich es,
          durch die Natur zu joggen. Das Laufen ermöglicht mir, den Kopf frei zu
          bekommen, neue Ideen zu entwickeln und in der Stille der Umgebung zu
          meditieren. Es ist eine Zeit der Selbstreflexion und Entspannung, die
          mir hilft, ausgewogen und fokussiert zu bleiben.
        </p>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <!--<section class="py-3 gm-light mb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="h2 font-weight-bold ">Kontakt</h2>
          <p class="lead">
            Sie können mich über die folgenden Kanäle erreichen:
          </p>
          <ul>
            <li>E-Mail: max@example.com</li>
            <li>LinkedIn: <a href="#">Max's LinkedIn</a></li>
            <li>Twitter: <a href="#">@MaxDev</a></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <form>
            <div class="form-group">
              <label for="message">Nachricht</label>
              <textarea class="form-control" id="message" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Senden</button>
          </form>
        </div>
      </div>
    </div>
  </section>-->

  <!--  Spotify -->
  <!--   <section class="py-3">
    <h2 class="h2 font-weight-bold  p-4">Meine DEV Playlist</h2>
    <div class="container">
      <div class="card p-4 border-radius-2 text-left">
        <div class="row">
          <div class="col-6 p-4">
            <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/playlist/37i9dQZF1DX9gPDOAK0Yqv?utm_source=generator"
                    width="100%"
                    title="Spotify Playlist"
                    height="352" frameBorder="0"
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy"></iframe>
          </div>
          <div class="col-6 p-4">
            <h3 class="h3 font-weight-bold">Tunnel Vision</h3>
            <h5 class="h5"><u>Meta Data</u></h5>
            <ul class="spotify-meta">
              <li>Author: Spotify</li>
              <li>Genre: Techno</li>
              <li>Type: Playlist</li>
              <li>Title: Tunnel Vision</li>
              <br>
              <li>Link: <a href="https://open.spotify.com/playlist/37i9dQZF1DX6J5NfMJS675?si=59e5f4e0d9ba42f6">Open
                on Spotify</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="pt-5">
    <h2 class="h2 font-weight-bold  pb-3">
      Mein DEV Podcast & Meine DEV Playlists
    </h2>
    <div class="">
      <div class="card p-4 border-radius-2 text-left">
        <div class="row">
          <div class="col-6 p-4">
            <h3 class="h3 font-weight-bold">Darknet Diaries</h3>
            <iframe
              style="border-radius: 12px"
              src="https://open.spotify.com/embed/show/4XPl3uEEL9hvqMkoZrzbx5?utm_source=generator&t=0"
              width="100%"
              height="352"
              frameBorder="0"
              allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
              loading="lazy"
            ></iframe>
            <a
              class="float-right"
              href="https://open.spotify.com/playlist/37i9dQZF1DX6J5NfMJS675?si=59e5f4e0d9ba42f6"
              >Open on Spotify</a
            >
          </div>
          <div class="col-6 p-4">
            <h3 class="h3 font-weight-bold">Techno Bunker</h3>
            <iframe
              style="border-radius: 12px"
              src="https://open.spotify.com/embed/playlist/37i9dQZF1DX6J5NfMJS675?utm_source=generator"
              width="100%"
              height="352"
              frameBorder="0"
              allowfullscreen=""
              allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
              loading="lazy"
            ></iframe>
            <a
              class="float-right"
              href="https://open.spotify.com/playlist/37i9dQZF1DX6J5NfMJS675?si=e1288d987a2948a7"
              >Open on Spotify</a
            >
            <!-- <h3 class="h3 font-weight-bold">Darknet Diaries</h3>
            <h5 class="h5"><u>Meta Data</u></h5>
            <ul class="spotify-meta">
              <li>Host: Jack Rhysider</li>
              <li>Genre: Technology</li>
              <li>Type: Podcast</li>
              <li>Language: English</li>
              <li>Title: Darknet Diaries</li>
              <br>
              <li>Link: <a href="https://open.spotify.com/show/4XPl3uEEL9hvqMkoZrzbx5?si=cb97974c51d249dc">Open
                on Spotify</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
