<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 mb-4">
            <a href="/.." class="btn btn-prime mb-3" routerLink="..">Back To Dashboard</a>
            <h1>Certifications</h1>
            <p>Here you can show & download my certificates</p>
            <br>
            <table class="table table-custom border-radius-2">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Size</th>
                        <th>Show</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Replace with actual data -->
                    <tr>
                        <td>File1.pdf</td>
                        <td>2.5 MB</td>
                        <td><i class="bi bi-eye"></i></td>
                        <td><i class="bi bi-cloud-download"></i></td>
                    </tr>
                    <tr>
                        <td>File2.docx</td>
                        <td>1.2 MB</td>
                        <td><i class="bi bi-eye"></i></td>
                        <td><i class="bi bi-cloud-download"></i></td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
            <!-- Total number of rows -->
            <p>Total Rows: 2</p>
        </div>
    </div>
</div>