.border-radius-0 {
  border-radius: 0 !important;
}

.border-radius-1 {
  border-radius: 0.125rem !important;
}

.border-radius-2 {
  border-radius: 0.25rem !important;
}

.border-radius-3 {
  border-radius: 0.5rem !important;
}

.border-radius-4 {
  border-radius: 1rem !important;
}
