/*
.footer {
  height: auto;
  width: 100%;
  background-color: var(--background-color-ui);
  color: var(--text-color);
  overflow: hidden;
  z-index: 100;
  border-top: 1px solid rgba(99, 27, 204, 0.64);
}
*/

img {
  width: 50px;
  height: 50px;
}
