.hover-bg:hover {
  background-color: var(--hover-prime) !important;
  color: var(--text-color);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.ngx-pagination {
  margin-left: -2.5rem !important;
  margin-right: auto !important;
  flex: 1 1 0 !important;
  display: flex !important;
  justify-content: center !important;
}

li.list-group-item {
  border: none !important;
  border-top: 2px solid var(--prime) !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  cursor: pointer;
}
