<div class="container pt-3 pb-5">
  <div class="row">
    <!-- back button -->
    <div class="col-md-12 mb-2 d-flex justify-content-between">
      <a href="/.." class="btn btn-prime ml-n3" routerLink="..">Back To Dashboard</a>
      <a href="/.." class="btn btn-prime mr-n3" routerLink="..">Download As PDF</a>
    </div>
    <div class="cv-card col-md-12 p-4 border-radius-2">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/img/me.png" alt="John Doe" class="img-fluid rounded-circle mt-n4" width="180px">
        </div>
        <div class="col-md-9">
          <h1>Bastian Fischer</h1>
          <hr>
          <p>Software Developer</p>
          <p>Email: kontakt@bastian-fischer.dev</p>
          <p>GitHub: <a href="https://github.com/elyps" target="_blank">github.com/elyps</a></p>
        </div>

        <div class="row mt-4 col-md-12">
          <div class="col-md-6">
            <h3>Skills</h3>
            <hr>
            <ul>
              <li>Programming Languages: Java, Python, JavaScript</li>
              <li>Web Development: HTML, CSS, Bootstrap</li>
              <li>Database: MySQL, MongoDB</li>
              <li>Version Control: Git</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h3>Certifications</h3>
            <hr>
            <ul>
              <li>Certified Java Developer - Oracle</li>
              <li>Web Development Certification - Udemy</li>
            </ul>
          </div>
        </div>
        <div class="row mt-4 col-md-12">
          <div class="col-md-12">
            <h3>Experience</h3>
            <hr>
            <h4>Software Engineer - ABC Software</h4>
            <p>June 2020 - Present</p>
            <ul>
              <li>Developed and maintained web applications using Java and Spring Boot.</li>
              <li>Collaborated with a cross-functional team to deliver high-quality software products.</li>
              <li>Implemented RESTful APIs and optimized database queries for improved performance.</li>
            </ul>
            <br>
            <h4>Web Developer - XYZ Web Solutions</h4>
            <p>January 2018 - May 2020</p>
            <ul>
              <li>Designed and developed responsive websites using HTML, CSS, and JavaScript.</li>
              <li>Worked closely with clients to understand their requirements and deliver customized solutions.</li>
              <li>Performed website maintenance and troubleshooting.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <h3>Hobbies</h3>
          <hr>
          <ul>
            <li>Open-source contribution</li>
            <li>Reading tech blogs</li>
            <li>Hiking</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
