<div class="container">
  <div class="row">
    <div class="col-12 mt-3 mb-5">

      <div *ngIf="currentArticle.id">
        <div class="d-flex flex-row justify-content-start mb-4">
          <a class="btn btn-prime" routerLink="../">Zurück zur Übersicht</a>
        </div>
        <div class="card p-4">
          <div class="border-radius-2 p-1">
            <div class="-body border-radius-2">
              <h4 class="btn-prime-ghost">{{ currentArticle.category }}</h4>
              <h1>{{ currentArticle.title }}</h1>
            </div>
          </div>

          <!-- <hr class="border-prime"> -->

          <div class="  border-radius-2 p-1 mt-2">
            <div class="-body border-radius-2">
              <div class="d-flex flex-row justify-content-start">
                <label class="mr-4"><small>Written by: <strong
                  class="btn-prime-ghost">{{ currentArticle.author }}</strong></small></label><br>
                <label><small>Updated on: <strong
                  class="btn-prime-ghost">{{ currentArticle.updatedAt }}</strong></small></label>
                <!--          <label><strong>&lt;!&ndash;Created: {{ currentArticle.createdAt }} - &ndash;&gt;Updated: {{ currentArticle.updatedAt }}</strong></label>-->
              </div>
            </div>
          </div>

          <!-- <hr class="border-prime"> -->

          <div class="  border-radius-2 p-1 mt-5">
            <div class="-body  border-radius-2">
              <h5>{{ currentArticle.description }}</h5>
            </div>
          </div>

          <div class="  border-radius-2 p-1 mt-5">
            <div class="-body  border-radius-2">
              <p>{{ currentArticle.content }}</p>
            </div>
          </div>

          <!--<div>
            <label><strong>Category:</strong></label>
            {{ currentArticle.category }}
          </div>-->

          <!-- <div class="d-flex flex-row position-relative mx-auto my-5">
          <span *ngFor="let tag of tags">
            <a href="" class="badge badge-warning p-2 m-1">{{ tag.name }}</a>
          </span>
          </div> -->

          <!--        <app-tags></app-tags>-->
          <!--<div>
            <label><strong>Tags:</strong></label>
            {{ currentArticle.tags }}
          </div>-->
          <!--<div>
            <label><strong>Updated:</strong></label>
            {{ currentArticle.updatedAt }}
          </div>-->
          <!--<div>
              <label><strong>Published:</strong></label>
              {{ currentArticle.published }}
          </div>
          -->


          <!--<div *ngIf="isLoggedIn">
            <label><strong>Published:</strong></label>
            <input
              type="checkbox"
              [(ngModel)]="currentArticle.published"
              (change)="updatePublished($event)"
            />
          </div>-->
        </div>

        <div class="card p-4 article-control-panel mt-3 d-flex flex-row justify-content-between" *ngIf="isLoggedIn">
          <a
            class="btn btn-prime"
            routerLink="/articles/{{ currentArticle.id }}/edit"
          >
            Edit Article
          </a>

          <div *ngIf="isLoggedIn" class="mt-4 d-flex flex-row justify-content-end">
            <label><strong>Status:</strong></label>
            <span class="btn-prime-ghost">&ensp;{{ currentArticle.published ? "Published" : "Draft / Pending ..." }}</span>
          </div>

          <a
            class="btn btn-danger"
            (click)="deleteArticle()"
          >
            Delete
          </a>
        </div>

        <div *ngIf="commentsActivated; else commentsDeactivated;">
          <app-comment></app-comment>
        </div>

        <ng-template #commentsDeactivated>
          <div class=" p-4 m-5 ">
            <div class=" p-4-body">
              <h6 class="btn-prime-ghost">Comments are closed.</h6>
              <p>Comments are closed for this article.</p>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>

  <div *ngIf="!currentArticle">
    <br/>
    <h1>400</h1>
    <br>
    <p>Sorry :-(<br><br>Something went wrong. Try it in a few minutes again...</p>
  </div>
</div>
