<div class="container mt-4">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="d-flex justify-content-between">
        <h1>Recruiter Dashboard</h1>
        <button id="logoutRecruiter" style="height: 40px" class="btn btn-sm btn-danger px-2 py-0" (click)="logout()">Als Recruiter abmelden</button>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <a href="/cv" class="card-link" routerLink="cv">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">CV / Lebenslauf</h5>
            <p class="card-text">Hier finden Sie meinen CV / Lebenslauf zum ansehen und herunterladen.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="/certs" class="card-link" routerLink="certs">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Zertifikate</h5>
            <p class="card-text">Hier finden Sie meine Zertifikate zum ansehen und herunterladen.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="https://example.com" class="card-link">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Zeugnisse</h5>
            <p class="card-text">Hier finden Sie meine Zeugnisse zum ansehen und herunterladen.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
