.card {
  background-color: var(--background-color-ui) !important;
  color: var(--text-color) !important;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  // border: 1px solid var(--prime);
}
